.App{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  padding-top: 100px;
}

.alphabets{
  display: flex;
  flex-direction: row;
}

.alp{
  cursor: pointer;
  padding: 10px;
}
